body {
    background-color: #6845BE;
}
.background {
    display: inline-block;
    background-image: url(../img/kalnas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(24px);
    width: 100%;
    height: 100vh;
}
main {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.left-side {
    display: inline-block;
    color: white;
    float: left;
    width: 40%;
    background-color: #461D9F;
    padding: 40px;
    position: absolute;
    top: 30px;
    bottom: 30px;
    background-image: url(../img/kalnas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
    h1 {
        display: inline-block;
        width: 100%;
        float: left;
        font-weight: lighter;
        text-transform: capitalize;
    }
    footer {
        position: absolute;
        bottom: 20px;
        font-size: 15px;
    }
    footer > a {
        display: inline-block;
        font-size: 15px;
        color: white;
        text-decoration: underline;
        text-decoration-color: #6845BE;
    }
.right-side {
    display: inline-block;
    float: right;
    width: 60%;
    background-color: #ffffff;
    padding: 60px;
    position: relative;
}
    .close {
        display: inline-block;
        text-align: center;
        line-height: 55px;
        float: left;
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        color: lightgray;
        font-size: 40px;
        cursor: pointer;
        transform-origin: center;
        transform: rotate(45deg);
        font-weight: 100;
        font-family: 'Times New Roman', Times, serif;
    }